

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="~/css/style.css">
  <title>A Web Page</title>
</head>
<body>
  <div id="index-container">
    <h1>Welcome to CRUDelicious</h1>
    <div id="index-main">
      <div id="index-left">
        <p>Check out some recent dishes!</p>
        <div>
          <!-- Dynamically render index of dishes -->
          @foreach(var dish in ViewBag.Dishes)
          {
            <div>
              <a href="@dish.DishId">@dish.DishName</a> by @dish.ChefName
            </div>
          }
        </div>
      </div>
      <div id="index-right">
        <!-- Redirect to /new -->
        <a asp-controller="Home" asp-action="New">Add a dish</a>
      </div>
    </div>
  </div>
</body>
</html>