<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>A Web Page</title>
</head>
<body>
  <div id="index-container">
    <h1>Welcome to CRUDelicious</h1>
    <div id="index-main">
      <div id="index-left">
        <p>Check out some recent dishes!</p>
        <div>
          <!-- Dynamically render index of dishes -->
        </div>
      </div>
      <div>
        <!-- Redirect to /new -->
        <a href="">Add a dish</a>
      </div>
    </div>
  </div>
</body>
</html>